{% extends 'products/product_header.html' %}
{% load static %}
<head>
    <style>
        .image-priview{
            width: 300px;
            min-height: 100px;
            border: 2px solid #dddddd;
            margin-top: 15px;
    
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: #cccccc;
        }
        .image-priview__image{
            display: none;
            width: 100%;
        }
    </style>
</head>
{% block title  %}Add Product{% endblock title %}
    {% block content %}
        {% include 'products/toolbar.html'  %}
        {% include 'products/navbar.html' %}

        <!-- Breadcrumb Start -->
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col-12">
                    <nav class="breadcrumb bg-light mb-30">
                        <a class="breadcrumb-item text-dark" href="#">Home</a>
                        <span class="breadcrumb-item active">Add Product</span>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->
    
    
        <!-- Add Product -->
        <div class="container-fluid">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Add Product</span></h2>
            <div class="row px-xl-5">
                <div class="col-lg-7 mb-5">
                    <div class="bg-light p-30">
                        <form action="" method="POST" enctype="multipart/form-data" id="addproduct">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                                    {{ form.errors }}
                                </div>
                                {% endif %}
                            <div class="control-group">
                                Name:   
                                <input type="text" class="form-control" id="id_name" placeholder="Product Name" name="name" value="{{name}}" required="required"/>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                Category:
                                {{form.category}}
                                <p class="help-block text-danger"></p>
                            </div>  
                            <select id="id_sub_category" name="sub_category">Sub Category<select>
                            <div class="control-group">
                                Brand:
                                <input type="text" class="form-control" placeholder="Product Name" name='brand' value="{{product.brand}}"
                                    required="required"/>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                Price:
                                <input type="text" id="id_price" class="form-control" placeholder="price" name="price" value="{{price}}"
                                    required="required"/>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                Image:
                                {{form.image}}
                            </div>
                            <div class="control-group">
                                Discription:
                                <textarea style="margin-top: 5px;" id="id_discription" class="form-control" rows="8" placeholder="About product" name="discription" value="{{discription}}"
                                    required="required"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn btn-primary py-2 px-4" type="submit">Add Product</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 mb-5">
                    <div class="bg-light p-30 mb-30">
                        <img src="{% static 'images/bg_1.jpg' %}" alt="" width="500px" height="450px">
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Product End -->    
        {% include 'products/footer.html' %}


    {% endblock %}
{% block external_script %}
<script src="{% static 'js/sub_category.js' %}"></script>
{% endblock external_script %}
