{% extends 'products/product_header.html' %}
{% load static %}
{% block title  %}Delete Product{% endblock title %}
{% block content %}
        {% include 'products/toolbar.html'  %}
        {% include 'products/navbar.html' %} 
    
        <!-- Breadcrumb Start -->
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col-12">
                    <nav class="breadcrumb bg-light mb-30">
                        <a class="breadcrumb-item text-dark" href="#">Home</a>
                        <span class="breadcrumb-item active">Delete Product</span>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->
    
        <div align="center">

            <form action="" method="POST">
                {% csrf_token %}
                <p>Areyou sure you want to delete {{product}}</p>
                <input type="submit" class="btn btn-danger">
            </form>
        </div>
        {% include 'products/footer.html' %}
    
        <!-- Back to Top -->
        <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
<!-- Template Javascript -->
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}