{% extends 'products/product_header.html' %}
{% load static %}
{% block title  %}Delete Product{% endblock title %}
{% block content %}
        {% include 'products/toolbar.html'  %}
        {% include 'products/navbar.html' %} 
    
        <!-- Breadcrumb Start -->
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col-12">
                    <nav class="breadcrumb bg-light mb-30">
                        <a class="breadcrumb-item text-dark" href="#">Home</a>
                        <span class="breadcrumb-item active">Delete Product</span>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->
    
        <div align="center">

            <form action="" method="POST">
                {% csrf_token %}
                <p>Areyou sure you want to delete {{product}}</p>
                <input type="submit" class="btn btn-danger">
            </form>
        </div>
        {% include 'products/footer.html' %}
    
        <!-- Back to Top -->
        <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
<!-- Template Javascript -->

{% endblock %}