{% extends 'products/product_header.html' %}
{% load static %}
{% block title  %}Home{% endblock title %}
{% block content %}
        {% include 'products/toolbar.html'  %}
        {% include 'products/navbar.html' %}
        
        <table id="row{{product.id}}" class="table table-sm">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th></th>
                <th></th>
                
            </tr>
            {% for i in products  %}
            <tr>
                <td><img src="{{ i.product.image.url }}" style="height: 100px; width: 100px;"  class="card-img-top"></td>
                <span><td>{{i.product.name}}</td> </span>
                <span><td>{{i.product.price}} Rs</td></span>
                <td><a href="{% url 'products:update_product_form' i.pk %}" class="btn btn-info">Update</a></td>
                <td><a href="{% url 'products:delete_product' i.pk %}" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tabel>
        {% comment %} {% include 'products/footer.html' %} {% endcomment %}
{% endblock %}

