{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <form action="" method="get">
        {% csrf_token %}
        {% for product in products  %}
        <ul id="row{{product.id}}">
            <img id="img{{product.id}}" src="{{ product.image.url }}" style="height: 200px; width: 200px;"  class="card-img-top" alt="...">
            <span><li id="name{{product.id}}">{{product.name}}</li> </span>
            <span><li id="price{{product.id}}">{{product.price}} Rs</li></span>
            <li><a href="{% url 'products:update_product' product.pk %}" class="btn btn-sm btn-info" onclick="update{{product.id}}">Update</a></li>
            <li><a href="{% url 'products:delete_product' product.pk %}" class="btn btn-sm btn-info">Delete</a></li>
        </ul>
            {% endfor %}
            <a href="{% url 'authentication:home' %}" class="">Home</a>
    </form>
</body>
</html>