{% extends 'products/product_header.html' %}
{% load static %}
{% block title  %}Update Product{% endblock title %}
{% block content %}
        {% include 'products/toolbar.html'  %}
        {% include 'products/navbar.html' %}
    
    
        <!-- Breadcrumb Start -->
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col-12">
                    <nav class="breadcrumb bg-light mb-30">
                        <a class="breadcrumb-item text-dark" href="#">Home</a>
                        <span class="breadcrumb-item active">Update Product</span>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->
    
    
        <!-- Update Product -->
        <div class="container-fluid">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Update Product</span></h2>
            <div class="row px-xl-5">
                <div class="col-lg-7 mb-5">
                    <div class="bg-light p-30">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="control-group">
                                <input type="text" class="form-control" placeholder="Product Name" name='name' value="{{product.name}}"
                                    required="required"/>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                {{form.category}}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control" placeholder="price" name="price" value="{{product.price}}"
                                    required="required"/>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                {{form.image}};
                            </div>
                            <div class="control-group">
                                <textarea style="margin-top: 5px;" class="form-control" rows="8" placeholder="About product" name="discription"
                                    required="required">{{form.discription.value}}</textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn btn-primary py-2 px-4" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 mb-5">
                    <div class="bg-light p-30 mb-30">
                        <img src="{% static 'images/bg_1.jpg' %}" alt="" width="500px" height="450px">
                    </div>
                </div>
            </div>
        </div>
        <!-- Update Product End -->
        {% include 'products/footer.html' %}
    
{% endblock %}


<!-- Template Javascript -->
<script src="{% static 'js/add_product.js' %}"></script>    
</html>