{% extends 'products/product_header.html' %}
{% load static %}
{% block title  %}Update Product{% endblock title %}
{% block content %}
        {% include 'products/toolbar.html'  %}
        {% include 'products/navbar.html' %}
    
    
        <!-- Breadcrumb Start -->
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col-12">
                    <nav class="breadcrumb bg-light mb-30">
                        <a class="breadcrumb-item text-dark" href="#">Home</a>
                        <span class="breadcrumb-item active">Update Product</span>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->
    
    
        <!-- Update Product -->
        <div class="container-fluid">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Update Product</span></h2>
            <div class="row px-xl-5">
                <div class="col-lg-7 mb-5">
                    <div class="bg-light p-30">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                                    {{ form.errors }}
                                </div>
                                {% endif %}
                            <div class="control-group">
                                Name:
                                <input type="text" class="form-control" placeholder="Product Name" name='name' value="{{product.name}}"
                                    required="required"/>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                Category:
                                {{form.category}}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                            <select id="id_sub_category" name="sub_category">Sub Category<select>
                            <div class="control-group">
                                Brand:
                                <input type="text" class="form-control" placeholder="Product Name" name='brand' value="{{product.brand}}"
                                    required="required"/>
                                <p class="help-block text-danger"></p>
                            </div>
                                Price:
                                <input type="text" class="form-control" placeholder="price" name="price" value="{{product.price}}"
                                    required="required"/>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="input-group mb-3">
                                Image:
                                <input type="file" class="form-control" id="id_image" accept="image/*" name="image" value="{{product.image}}" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
                              </div>
                            </div>
                            <div class="control-group">
                                <textarea style="margin-top: 5px;" class="form-control" rows="6" placeholder="About product" name="discription"
                                    required="required">{{form.discription.value}}</textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn btn-primary py-2 px-4" type="submit">Update</button>
                            </div>
                        </form>
                        </div>
                        <div class="col-lg-5 mb-5">
                            <div class="bg-light p-30 mb-30">
                                <form action="{% url 'products:remove_image' product.id %}" method="POST">
                                    {% csrf_token %}
                                    {% if product.image != "static/images/default.jpg" %}                                    
                                    <button type="submit" class="close">
                                        <span hiddn>&times;</span>
                                    </button>
                                    {% endif %}
                                    <img src="{{product.image.url}}" alt="" width="500px" height="450px" id="img">
                                </form>
                            </div> 
                        </div>                   
                    </div>
                </div>
        </div>
        <!-- Update Product End -->
        {% include 'products/footer.html' %}
        {% block external_script %}
        <script src="{% static 'js/sub_category.js' %}"></script>
        {% endblock external_script %}

{% endblock %}
