{% extends 'products/product_header.html' %}
{% load static %}
{% block title  %}Home{% endblock title %}
{% block content %}
{% include 'products/toolbar.html'  %}
{% include 'products/navbar.html' %}s

{% comment %} {% if forloop.counter|divisibleby:3 %} {% endcomment %}
<div class="row">
            {% for i in products %}
            <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden" style="width: 300px;">
                        <img class="img-fluid w-100" src="{{i.product.image.url}}" alt="">
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">{{i.products.name}}</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>{{i.product.price}}</h5><h6 class="text-muted ml-2"><del>{{i.product.price}}</del></h6>
                        </div>
                        <div>
                            <button data-product="{{i.product.id}}" data-action="add" class="btn btn-primary add-btn update-cart">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% comment %} {% endif %} {% endcomment %}

    {% include 'products/footer.html' %}
    {% block external_script %}
            <script src="{% static 'js/cart.js' %}"></script>
            <script src="{% static 'js/csrf.js' %}"></script>
    {% endblock external_script %}

{% endblock %}