{% extends "authentication/auth_header.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% load crispy_forms_filters %}

{% block title %}Login{% endblock title %}

  {% block content %}

  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('{% static "images/bg_1.jpg" %}');"></div>
    <div class="contents order-2 order-md-1" style="background: #ffd700;">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <h3>Login to <strong>DealMart</strong></h3>
            <p class="mb-4"style="color:black">DealMart is the best online shoping hub.</p>
            <form action="#" method="post">
              {% csrf_token %}
              {% for message in messages %}
    
                <div class="alert alert-success">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                      {{ message }}
                </div>

              {% endfor %}
              <div class="form-group first">
                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="your-email@gmail.com" value="{{email}}" id="email" name="email">
              </div>
              <div class="form-group last mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Your Password" id="password" name="password">
              </div>
              
              <div class="d-flex mb-5 align-left">
                <span class="align-left"><a href="{% url 'authentication:reset_password' %}" class="forgot-pass" style="color:black">Forgot Password</a></span> 
              </div>
              <input type="submit" value="Log In" class="btn btn-block btn-dark"><br>
            </form>
              <p style="color: black;">{% blocktrans with site.name as site_name %}Please sign in with{% endblocktrans %}</p>
          
              <div class="socialaccount_ballot">
          
                <div class="socialaccount_providers">
                  <button class="btn btn-info" style="color: black;">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                  </button>
                </div>          
              </div>          
              <div>{% include "socialaccount/snippets/login_extra.html" %}</div>
              <div class="mt-4">
                <div class="d-flex justify-content-center links">
                  Don't have an account? <a href="{% url 'authentication:register' %}" class="ml-2" style="color: black;">Sign Up</a>
                </div> 
                <div class="d-flex justify-content-center links">
                  Become Member <a href="{% url 'authentication:product_admin_register' %}" class="ml-2" style="color: black;">Sign Up</a>
                </div>            
              </div>
          </div>
        </div>
      </div>
    </div>    
  </div> 
{% endblock %}
