{% extends "authentication/auth_header.html" %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% block title %}Password Reset{% endblock title %}
  </head>
  <body>
  
{% block content %}

  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('{% static "images/bg_1.jpg" %}');"></div>
    <div class="contents order-2 order-md-1" style="background: #ffd700;">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <h3><strong>DealMart</strong></h3>
            <h3>Password reset</h3>
			      <p style="color:black"><Strong>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</strong></p>
            <form action="#" method="post">
              {% csrf_token %}
              <div class="form-group first">
                <label for="email">Email</label>
                <input type="text" class="form-control" placeholder="your-email@gmail.com" value="{{email}}" id="email" name="email">
                {% comment %} {{form.email}} {% endcomment %}
              </div>
              <input type="submit" value="Send Mail" class="btn btn-block btn-dark" name = "send mail">
            </form>
          </div>
        </div>
      </div>
    </div>    
  </div>   
{% endblock %}
  </body>
</html>