{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

    <script src="{% static 'js/ajax.js' %}"></script>

    <title>Sign Up</title>
  </head>
  <body>
  

  <div class="d-lg-flex half" > 
    <div class="bg order-1 order-md-2" style="background-image: url('{% static "images/bg_1.jpg" %}');"></div>
    <div class="contents order-2 order-md-1" style="background:#ffd700;">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7 py-5">
            {% if messages %}
                {% for mess in messages %}
                <div class="alert alert-{{mess.tags}}" role="alert">
                  {{mess}}
                </div>
                {% endfor %}
            {% endif %} 
                <br>
            <p class="mb-4" style="color:black">DealMart is the best online shoping hub.</p>
            {% if otp %}
                <form method="POST">
                  {% csrf_token %}
                    <fieldset class="form-group">
                      <legend class="border-bottom display">
                          <h3 class="float-left">Verify Your Email</h3>
                      </legend>
                      <input type="hidden" name="usr" value="{{usr.email}}">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">OTP</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter Your OTP" aria-label="OTP" aria-describedby="basic-addon1" name = 'otp'>
                      </div>
                    </fieldset>
                      {% comment %} <div class="form-grounp">
                        <button class="btn btn-dark" type="submit">Verify</button>
                        <small class="float-right text-muted"><i>
                          <form action="{% url 'authentication:resendOTP' %}" method="POST" class="send_otp">
                            {% csrf_token %}
                            <input type="text" value="{{usr.email}}" hidden>
                            <button type="submit" class="text-dark target="{% url 'authentication:resendOTP' %}" ><i id="resendOTPmess">Resend</i> OTP</button>
                          </form>
                          </form>
                        </small>
                      </div> {% endcomment %}
                    <div class="form-grounp">
                        <button class="btn mainbtn" type="submit">Verify</button>
                        <small class="float-right text-muted"><i><a href="#" class="text-dark" 
                          onclick="ReSendOTP('{{usr.email}}', 'resendOTPmess')"><i id="resendOTPmess">Resend</i> OTP</a></small>

                    </div>
                </form>
            {% else %}
              <h3>Register</h3>
              <form action="#" method="post">
                {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group first">
                        <label for="fname">First Name</label><br>
                        {% comment %} <input type="text" class="form-control" placeholder="e.g. John" id="fname"> {% endcomment %}
                        {{form.first_name}}
                      </div> 
                      
                    </div>
                    <div class="col-md-6">
                    <div class="form-group first">
                      <label for="lname">Last Name</label><br>
                      {% comment %} <input type="text" class="form-control" placeholder="e.g. Smith" id="lname"> {% endcomment %}
                      {{form.last_name}}
                    </div>
                      
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group first">
                        <label for="email">Email Address</label><br>
                        {% comment %} <input type="email" class="form-control" placeholder="e.g. john@your-domain.com" id="email"> {% endcomment %}
                        {{form.email}}
                      </div> 
                        
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group first">
                        <label for="lname">Phone Number</label><br>
                        {% comment %} <input type="text" class="form-control" placeholder="+00 0000 000 0000" id="lname"> {% endcomment %}
                        {{form.phone}}
                      </div> 
                        
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                  
                      <div class="form-group last mb-3">
                        <label for="password">Password</label><br>
                        {% comment %} <input type="password" class="form-control" placeholder="Your Password" id="password"> {% endcomment %}
                        {{form.password1}}
                      </div>
                      
                    </div>
                    <div class="col-md-6">
                  
                      <div class="form-group last mb-3">
                        <label for="re-password">Re-type Password</label><br>
                        {% comment %} <input type="password" class="form-control" placeholder="Your Password" id="re-password"> {% endcomment %}
                        {{form.password2}}
                      </div>
                    </div>
                  </div>
                  <div>
                    <div>
                      <input type="submit" value="Register" class="btn btn-dark">
                    </div>
                  </div>
                </div>
              </div>
            </form>
            {% endif %}
        </div>
      </div>
    </div>
  </div>    
</div>
    
    
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>