{% extends 'products/product_header.html' %}
{% load static %}
{% block title  %}Current Orders{% endblock title %}
{% block external_css %} <link rel="stylesheet" href="{% static 'css/orderhistory.css' %}">{% endblock external_css %}
{% block content %}
        {% include 'products/navbar.html' %}        

        {% if orders %}
        {% for order in orders %}
        {% if order.total_amount > 0 %}
        <div class="d-flex flex-column justify-content-center align-items-center" id="order-heading">
            <div class="text-uppercase">
                <p>Order detail</p>
            </div>
            <div class="h4"> {{order.created_at}}</div>
            <div class="pt-1">
                <form action="{% url 'order:status_change' order.id %}">
                <p>Order #{{order.id}} is currently<b class="text-dark">
                    <select name="status" value="">
                        <option value="{{order.status}}" disabled selected>{{order.status}}</option>
                        {% for x in order_status %}
                            <option value="{{x}}">{{x}}</option>
                        {% endfor %}
                    </select>

                    <button class="btn btn-info">Save Change</button>
                </form>
                </b></p>    
            </div>
        </div>
        <div class="wrapper bg-white" style="margin-top: 5px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center;">Name</th>
                            <th scope="col" style="text-align: center;">Price</th>
                            <th scope="col" style="text-align: center;">Size</th>
                            <th scope="col" style="text-align: center;">Qyantity</th>
                        </tr>
                    </thead>
                    {% for i in order.cart.all %}
                    {% if i.product.created_by == request.user %}
                    <tbody>
                        <tr >
                            <div class="d-flex justify-content-start align-items-center list py-1">
                                <div>
                                    <td style="padding: 12px; text-align: center;   "><div class="order-item"><a href="{% url 'products:product_detail' i.product.id %}" style="color: blue;"><img src="{{ i.product.image.url }}" class="rounded-circle" width="30" height="30">{{i.product.name}}
                                    </a></div></td>
                                </div>
                                <td style="padding: 12px; text-align: center;">&#x20b9;{{i.product.price}}</td>
                                <td style="padding: 12px; text-align: center;">{{i.product.sub_category}}</td>
                                    <td style="padding: 12px; text-align: center;">{{i.quantity}}</td>
                                </div>
                            </div>
                        </tr>
                    </tbody>
                    {% endif %}
                    {% endfor %}
                </table>
            <div class="pt-2 border-bottom mb-3"></div>
            <table class="table table-borderless">
                <thead>
                    <tr class="text-uppercase text-muted">
                        <th scope="col"></th>
                        <th scope="col" class="text-right">Total<th>
                    </tr>
                </thead>
            </table>
            <div class="d-flex justify-content-start align-items-center pl-3">
                <div class="text-muted">Payment Method</div>
                <div class="ml-auto">
                    <label>Cash on Delivery</label>
                </div>
            </div>
            <div class="d-flex justify-content-start align-items-center py-1 pl-3">
                <div class="text-muted">Shipping</div>
                <div class="ml-auto">
                    <label>Free</label>
                </div>
            </div>
            <div class="d-flex justify-content-start align-items-center pl-3 py-3 mb-4 border-bottom">
                <div class="ml-auto h5">
                    &#x20b9;{{order.total_amount}}
                </div>
            </div>
            <div class="row border rounded p-1 my-3">
                <div class="col-md-6 py-3">
                    <div class="d-flex flex-column align-items start">
                        <b>Billing Address</b>
                        <p class="text-justify pt-2">{{order.created_by.address}}</p>
                    </div>
                </div>
            </div>
            <div class="pl-3 font-weight-bold">Related Subsriptions</div>
            <div class="d-sm-flex justify-content-between rounded my-3 subscriptions">
                <div>
                    <b>#{{order.id}}</b>
                </div>
                <div>Status: {{order.status}}</div>
                <div>
                    Total: <b> &#x20b9; {{order.total_amount}}</b>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <nav aria-label="Page navigation example" style="text-align:center ;">
        {% if current_ordres.has_previous %}
        <a href="?page={{ current_ordres.previous_page_number }}">previous</a>
        {% endif %}
        
        <span class="current">
            Page {{ current_ordres.number }} of {{ current_ordres.paginator.num_pages }}
        </span>
        
        {% if current_ordres.has_next %}
        <a href="?page={{ current_ordres.next_page_number }}">next</a>
        {% endif %}
        {% endif %}
        </nav>
        
        

        {% include 'products/footer.html' %}
{% endblock %}