{% extends 'products/product_header.html' %}
{% load static %}
{% block title  %}Order HIstory{% endblock title %}
{% block content %}
{% include 'products/toolbar.html'  %}
{% include 'products/navbar.html' %}

    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                {% if order %}
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>No.</th>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    {% for i in order %}
                        <tbody class="align-middle" id="carttable">
                            <tr class="cart-row">
                                <td class="align-middle"><img src="{{i.product.image.url}}" alt="" style="width: 100px;">{{i.product.name}}</td>
                                <td class="align-middle cart-price" id="price{{i.product.id}}" value="{{i.product.price}}">{{i.product.price}}</td>
                                <td class="align-middle">
                                    <div class="input-group quantity mx-auto" style="width: 100px;">
                                        <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center cart-quantity-input"id="quantity{{i.product.id}}"  value="0">
                                    </div>
                                </td>
                                <td class="align-middle" id="result{{i.product.id}}"></td>
                                <td class="align-middle">{{i.status}}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
                {% else %}
                <p>You have no Order Hitory</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Cart End -->

    {% include 'products/footer.html' %}
{% endblock %}