{% extends 'products/product_header.html' %}
{% load static %}
{% block title  %}Customer Profile{% endblock title %}
{% block content %}
{% include 'products/toolbar.html'  %}
{% include 'products/navbar.html' %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'authentication:home' %}">Home</a>
                    <span class="breadcrumb-item active">Profile</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Checkout Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Update Profile</span></h5>
                <form action="" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% if form.errors %}
                      <div class="alert alert-warning alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                          {{ form.errors }}
                      </div>
                  {% endif %}
                  {% for message in messages %}
    
                  <div class="alert alert-success">
                      <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                  </div>

                  {% endfor %}
                    <div>
                          <div class="control-group">
                            First Name:
                            <input type="text" class="form-control" placeholder="Product Name" name='first_name' value="{{user.first_name}}"/>
                            <p class="help-block text-danger"></p>
                          </div>
                          <div class="control-group">
                            Last Name:
                            <input type="text" class="form-control" placeholder="Product Name" name='last_name' value="{{user.last_name}}"/>
                            <p class="help-block text-danger"></p>
                          </div>
                          <div class="control-group">
                            Email:
                            <input type="email" class="form-control" placeholder="email" name='email' value="{{user.email}}" disabled>
                            <p class="help-block text-danger"></p>
                          </div>
                          <div class="input-group mb-3">
                            Change Image:
                            <input type="file" class="form-control" id="id_profile_pic" accept="image/*" name="profile_pic" value="{{user.profile_pic}}" aria-label="Upload">
                          </div>
                          <div class="control-group">
                            Phone:
                            <input type="number" class="form-control" placeholder="phone" name='phone' value="{{user.phone}}"/>
                            <p class="help-block text-danger"></p>
                          </div>
                          <div class="control-group">
                            <textarea style="margin-top: 5px;" class="form-control" rows="4" placeholder="Address" name="address">{{user.address}}</textarea>
                            <p class="help-block text-danger"></p>
                          </div>
                          <div>
                            <button class="btn btn-primary py-2 px-4" type="submit">Update</button>
                          </div>
                      </div>
                    </form>
                    {% if request.user.groups.all.0.name == 'Customer' %}
                    <a href="{% url 'authentication:change_password' %}" class="btn btn-primary">Change Password</a>
                    {% endif %}
            </div>
            <div class="col-lg-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Profile Picture</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom">
                      <form action="{% url 'customer:customer_remove_profile_pic' user.id %}" method="POST">  
                        {% csrf_token %}
                        {% if user.profile_pic != "static/images/profile1.png" %}                                    
                        <button type="submit" class="close">
                          <span hiddn>&times;</span>
                        </button>
                        {% endif %}
                        <img src="{{user.profile_pic.url}}" alt="" width="440px" height="450px" id="img">
                      </form>
                    </div>
                    <div class="border-bottom pt-3 pb-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->

    {% include 'products/footer.html' %}
{% endblock %}